.pricing-card
	min-height 100vh
	width 100vw
	overflow hidden
	font-family Montestrat-Regular
	background url('/assets/graphics/bg-top.svg'), url('/assets/graphics/bg-bottom.svg'), $lightgrey
	background-repeat no-repeat
	background-position right top, bottom left
	display flex
	flex-direction column
	justify-content center
	align-items center
	padding 48px 0

	&__title 
		text-align center
		margin 0 24px 48px 24px
		color $darkgrey

	&__toggle, .toggle 
		display flex
		flex-direction row
		align-items center
		margin-bottom 56px
		margin 0 24px 56px 24px

		&__label 
			color $darkgrey
			opacity 0.5
			cursor pointer

		&__switch
			cursor pointer

			&--outer
				margin 0 24px
				background $blue-gradient
				width 56px
				height 32px
				border-radius 16px
				position relative
				padding 4px
	
			&--inner 
				width 24px
				height 24px
				background-color $white
				position absolute
				left 4px
				top 50%
				border-radius 50%
				transform translateY(-50%)
				transition all 0.1s ease-in-out

			&--monthly

				.toggle__switch--inner
					transform translateY(-50%)
					left 28px			

	&__card-wrapper 
		display flex
		flex-direction row
		align-items center
		width 100%
		padding 24px
		margin 0 24px 56px 24px
		box-sizing border-box
		justify-content center
		align-items center

		@media (max-width: 1000px)
			flex-direction column

	&__card, .card
		background-color white
		padding 31px
		border-radius 10px
		max-width 350px
		width 100%
		box-shadow $box-shadow

		&__title 
			text-align center
			color $darkgrey
			margin-bottom 24px
			
		&__price, .price
			color $black
			text-align center
			display flex
			flex-direction row
			align-items center
			justify-content center
		
		&__dollar-sign
			color $black
			text-align center
		
		&__item
			color $darkgrey
			text-align center
			border-bottom 1px solid transparentify(#6E728E, 0.25)
			padding 13px 0

		&__item-wrapper 
			margin-bottom 32px

		&__button 
			background $blue-gradient
			height 44px
			display flex
			align-items center
			justify-content center
			text-decoration none
			border-radius 6px
			box-shadow none
			outline none
			border 1px solid $blue-gradient
			color $white
			text-transform uppercase

		&--blue 
			background $blue-gradient
			
			.card__price
			.card__dollar-sign,
			.card__item,
			.card__title
				color $white

			.card__button 
				background $white
				color $blue

		&:nth-child(1) 
			height 0%  
			border-radius 10px 0 0 10px 

		&:nth-child(2) 
			border-radius 10px 10px  10px 10px
			padding 55px 31px

		&:nth-child(3) 
			height 0%  
			border-radius 0 10px 10px 0

		@media (max-width: 1000px)
			margin-bottom 32px
			border-radius 10px !important
