// CONFIGS
@import 'configs/reset.styl'
@import 'configs/fonts.styl'
@import 'configs/typography'
@import 'configs/vars.styl'
@import 'configs/global.styl'

// SECTIONS
@import 'sections/pricing-card.styl'