 @font-face
   font-family Montestrat-Light
   src url(../assets/fonts/montserrat/Montserrat-Thin.ttf)

 @font-face
   font-family Montestrat-ExtraLight
   src url(../assets/fonts/montserrat/Montserrat-ExtraLight.ttf)

 @font-face
   font-family Montestrat-Light
   src url(../assets/fonts/montserrat/Montserrat-Light.ttf)

 @font-face
   font-family Montestrat-Medium
   src url(../assets/fonts/montserrat/Montserrat-Medium.ttf)

 @font-face
   font-family Montestrat-Regular
   src url(../assets/fonts/montserrat/Montserrat-Regular.ttf)

 @font-face
   font-family Montestrat-SemiBold
   src url(../assets/fonts/montserrat/Montserrat-SemiBold.ttf)

 @font-face
   font-family Montestrat-Bold
   src url(../assets/fonts/montserrat/Montserrat-Bold.ttf)

 @font-face
   font-family Montestrat-ExtraBold
   src url(../assets/fonts/montserrat/Montserrat-ExtraBold.ttf)

 @font-face
   font-family Montestrat-Black
   src url(../assets/fonts/montserrat/Montserrat-Black.ttf)