 @font-face
   font-family Montestrat-Light, Arial, Helvetica, sans-serif
   src url(assets/fonts/montserrat/Montserrat-Thin.ttf)

 @font-face
   font-family Montestrat-ExtraLight, Arial, Helvetica, sans-serif
   src url(assets/fonts/montserrat/Montserrat-ExtraLight.ttf)

 @font-face
   font-family Montestrat-Light, Arial, Helvetica, sans-serif
   src url(assets/fonts/montserrat/Montserrat-Light.ttf)

 @font-face
   font-family Montestrat-Medium, Arial, Helvetica, sans-serif
   src url(assets/fonts/montserrat/Montserrat-Medium.ttf)

 @font-face
   font-family Montestrat-Regular, Arial, Helvetica, sans-serif
   src url(assets/fonts/montserrat/Montserrat-Regular.ttf)

 @font-face
   font-family Montestrat-SemiBold
   src url(assets/fonts/montserrat/Montserrat-SemiBold.ttf)

 @font-face
   font-family Montestrat-Bold, Arial, Helvetica, sans-serif
   src url(assets/fonts/montserrat/Montserrat-Bold.ttf)

 @font-face
   font-family Montestrat-ExtraBold, Arial, Helvetica, sans-serif
   src url(assets/fonts/montserrat/Montserrat-ExtraBold.ttf)

 @font-face
   font-family Montestrat-Black, Arial, Helvetica, sans-serif
   src url(assets/fonts/montserrat/Montserrat-Black.ttf)